<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <div class="clearfix pull-left m-t-5">
                            {{subtitle}}
                    </div>
                    <div class="clearfix pull-right">
                            <button class="btn btn-info" [routerLink]="['/user/register']" >+ Añadir Studiante</button>
                    </div>                   
        </div>
        </div> 
        <div class="row">
            <div class="col-lg-4" *ngFor="let student of students">
                <div class="card">
                    
                    <!--<img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">-->
                    <div class="card-body">
                            <h3 class="font-normal">{{student.firstname}} {{student.lastname}}</h3>
                        <ul class="list-inline font-14">
                            <li class="p-l-0">{{ student.fechaNacimiento }}</li>
                            <li><a href="javascript:void(0)" class="link">3 Comment</a></li>
                        </ul>
                        
                        <p class="m-b-0 m-t-10">Aun no están abiertos los plazos de inscripción, pero no te preocupes pronto se abrirán!</p>
                        <button class=" btn btn-info pull-right mdi mdi-account-edit" (click)="showSuccess()" ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
